@import helper._

@(showInlineInstruction: Boolean, createUser: Form[CreateUserForm])(implicit nav: Nav)

@main(message("createUser")) {

    <h2>@message("createUser")</h2>

    @foundationForm(createUser, play.api.mvc.Call("POST", "/user")) {
        <div class="row">
            <div class="medium-6 columns">
                @if(showInlineInstruction == true) {
                        <p>@message("instruction.createUser")</p>
                }
                @inputText(createUser("name"))
            </div>
        </div>
        <input class="button" type="submit" value="@message("createUser")"/>
    }
}
