@import com.example.auction.item.api.ItemStatus

@(title: String)(content: Html)(implicit nav: Nav)

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" type="text/css" href="/webjars/@nav.locateWebJarAsset("foundation", "dist/foundation.min.css")"/>
        <link rel="stylesheet" type="text/css" href="/webjars/@nav.locateWebJarAsset("foundation-icon-fonts", "foundation-icons.css")"/>
        <link rel="stylesheet" type="text/css" href="/assets/main.css"/>
    </head>
    <body>
        <nav class="top-bar">
            <div class="top-bar-left">
                <ul class="menu">
                    <li><a href="/">@message("lagomAuction")</a></li>
                    <li><a href="/createuser">@message("createUser")</a></li>
                    <li><a href="/createitem">@message("createItem")</a></li>
                </ul>
            </div>
            <div class="top-bar-right">
                <ul class="menu dropdown" data-dropdown-menu>
                    <li><a href="/search">@message("search")</a></li>
                    <li>
                        <a href="@ProfileController.defaultProfilePage">@if(nav.getUser.isPresent) {
                            @nav.getUser.get.getName
                        } else {
                            @message("logInAs")
                        }</a>
                        <ul class="menu vertical">
                        @for(user <- nav.getUsers) {
                            <li><a href="#" data-user-id="@user.getId" class="log-in-as">@user.getName</a></li>
                        }
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <article class="row">
            <div class="small-12">
            @content
            </div>
        </article>
        <script type="text/javascript" src="/webjars/@nav.locateWebJarAsset("jquery", "jquery.min.js")"></script>
        <script type="text/javascript" src="/webjars/@nav.locateWebJarAsset("foundation", "foundation.min.js")"></script>
        <script type="text/javascript" src="/assets/main.js"></script>
        <script>
                $(document).foundation();
        </script>
    </body>
</html>
