@import helper._

@(showInlineInstruction: Boolean, createUser: Form[CreateUserForm])(implicit nav: Nav)

@main(message("createUser")) {

    <h2>@message("createUser")</h2>
@if(showInlineInstruction == true) {
<p>@message("instruction.createUser")</p>
}
    @foundationForm(createUser, routes.Main.createUser()) {
        <div class="row">
            <div class="medium-6 columns">
                @inputText(createUser("username"))
            </div>
        </div>
        <div class="row">
            <div class="medium-6 columns">
                @inputText(createUser("email"))
            </div>
        </div>
        <div class="row">
            <div class="medium-6 columns">
                @inputPassword(createUser("password"))
             </div>
        </div>


        <input class="button" type="submit" value="@message("createUser")"/>
    }
}
