@import helper._
@import java.util.Optional
@import java.time.temporal.ChronoUnit
@import controllers.{Currency => Currencies}

@import com.example.auction.item.api.UpdateItemResultCodes
@import com.example.auction.item.api.UpdateItemResultCodes._

@(itemId: UUID, itemForm: Form[ItemForm], errorMessage: Optional[UpdateItemResultCodes] )(implicit nav: Nav)


@main(message("editItem")) {

    <h2>@message("editItem")</h2>

    @foundationForm(itemForm, routes.ItemController.editItem(itemId.toString)) {

        @if(errorMessage.isPresent) {
            <div class="alert callout">
                <i class="fi-alert"></i>
                @errorMessage.get() match {
                    case CAN_ONLY_UPDATE_DESCRIPTION => {@message("canOnlyEditDescription")}
                    case CANT_UPDATE_AUCTION_IS_CLOSED => {@message("cantUpdateClosedAuction")}
                }
            </div>
        }

        <div class="column row">
            @inputText(itemForm("title"))
        </div>
        <div class="column row">
            @textarea(itemForm("description"))
        </div>
        <div class="column row">
            @select(
                field = itemForm("currency"),
                options = Currencies.values().toSeq.map(c => c.name() -> c.getDisplayName).sortBy(_._2)
            )
        @* todo set min and step according to the selected currency *@
        @* todo format currencies (¿using to @currency.format?) *@
        </div>
        <div class="row">
            <div class="medium-6 columns">
                @inputText(itemForm("increment"), 'type -> "number", 'min -> 0.5, 'step -> 0.5, '_help -> message("incrementHelp"))
            </div>
            <div class="medium-6 columns">
                @inputText(itemForm("reserve"), 'type -> "number", 'min -> 0, 'step -> 0.5, '_help -> message("reserveHelp"))
            </div>
        </div>
        <div class="row">
            <div class="medium-6 columns">
                @inputText(itemForm("duration"), 'type -> "number", 'min -> 1, 'step -> 1, '_columns -> 3)
            </div>
            <div class="medium-6 columns">
                @select(
                    field = itemForm("durationUnits"),
                    options = ChronoUnit.values().dropWhile(_ != ChronoUnit.SECONDS).takeWhile(_ != ChronoUnit.MONTHS).map(u => u.name() -> u.toString()),
                    '_columns -> 3
                )
            </div>
        </div>
        <input type="submit" class="button" value="@message("saveItem")"/>
    }
}