@import helper._

@(showInlineInstruction: Boolean, login: Form[LoginForm])(implicit nav: Nav)

@main(message("name.login")) {

<h2>@message("name.login")</h2>

@foundationForm(login, routes.Main.loginUser()) {
<div class="row">
    <div class="medium-6 columns">
        @if(showInlineInstruction == true) {
        <p>@message("instruction.login.username")</p>
        }
        @inputText(login("username"))
    </div>
</div>
<div class="row">
    <div class="medium-6 columns">
        @if(showInlineInstruction == true) {
        <p>@message("instruction.login.password")</p>
        }
        @inputText(login("password"))
    </div>
</div>
<input class="button" type="submit" value="@message("name.login")"/>
}
}
